@font-face {
  font-family: 'Wither-font';
  src: url('../font/Thewitcher-jnOj.ttf');
}

body {
  background-image: url('../images/background.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-family: 'Wither-font', sans-serif;
  font-size: 3vw;
}
#form {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
  text-align: center;

}

input[type="text"] {
  font-family: 'Wither-font';
  font-size: 1vw;
  text-align: center;
  scale: 180%;
}
input[type=submit] {
  font-family: 'Wither-font', sans-serif;
  font-size: 1vw;
  scale: 140%;
}


